<form>
  <div class="form-group">
    <label for="name">Nome:</label>
    <input type="text" class="form-control" name="name" id="name">
  </div>

  <div class="form-group">
    <label for="senha">Senha;</label>
    <input type="password" class="form-control" name="senha" id="senha">
  </div>

  <div class="form-group">
    <label for="confirmar">Confirmar Senha:</label>
    <input type="password" class="form-control" name="confirmar" id="confirmar">
  </div>

  <input type="submit" class="btn btn-primary mt-4" value="Salvar">
  <a href="#" class="btn btn-secundary mt-4 ml-2">Cancelar</a>

</form>

